*.so
*.o
*.lp
*.log
*.pyc

devel/lib/python2.7/dist-packages/behavior_selector/__init__.pyc
devel/lib/python2.7/dist-packages/behavior_selector/srv/__init__.pyc
devel/lib/python2.7/dist-packages/faster_msgs/__init__.pyc
devel/lib/python2.7/dist-packages/faster_msgs/msg/_Mode.pyc
devel/lib/python2.7/dist-packages/snapstack_msgs/__init__.pyc
devel/lib/python2.7/dist-packages/snapstack_msgs/msg/_AttitudeCommand.pyc
devel/lib/python2.7/dist-packages/snapstack_msgs/msg/_ControlLog.pyc
devel/lib/python2.7/dist-packages/snapstack_msgs/msg/_Motors.pyc
devel/lib/python2.7/dist-packages/snapstack_msgs/msg/_QuadFlightMode.pyc
devel/lib/python2.7/dist-packages/snapstack_msgs/msg/_State.pyc
devel/lib/python2.7/dist-packages/snapstack_msgs/msg/_SMCData.pyc
devel/lib/python2.7/dist-packages/snapstack_msgs/msg/_Goal.pyc
devel/lib/python2.7/dist-packages/snapstack_msgs/msg/_IMU.pyc
devel/lib/python2.7/dist-packages/snapstack_msgs/msg/_CommAge.pyc
devel/lib/python2.7/dist-packages/snapstack_msgs/msg/__init__.pyc
devel/lib/python2.7/dist-packages/faster_msgs/msg/__init__.pyc
devel/lib/python2.7/dist-packages/behavior_selector/srv/_MissionModeChange.pyc
