<?xml version="1.0"?>

<launch>
    <arg name="ns"        default="JA01"/>
    <arg name="world_name"     default="empty.world"/>
    <arg name="gui"       default="true"/>
    <arg name="rviz"      default="false"/>  
     
  <!-- Start Gazebo. -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find scout_gazebo_sim)/worlds/$(arg world_name)"/>
      	<arg name="use_sim_time" value="true"/>
        <arg name="gui"          value="$(arg gui)"/>
    </include>
    
  <!-- Spawn the robot. -->
    <include file="$(find scout_gazebo_sim)/launch/spawn_scout_mini.launch">
    </include>
    
  <!-- View in RVIZ. -->        
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" ns="$(arg ns)" args="-d $(find scout_description)/rviz/model_display.rviz" >
      <!-- <remap from="/move_base_simple/goal" to="/$(arg ns)/goal"/> -->
    </node>
  </group>
  
   <!-- "Remap" to obtain JA01 and JA01/velodyne frames-->   
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_JA01" args="0 0 0 0 0 0 $(arg ns)/base_link $(arg ns) 1" />
    <node pkg="tf" type="static_transform_publisher" name="static_map_odom_tf" ns="$(arg ns)"
        args="0 0 0 0 0 0 world $(arg ns)/odom 1"/>
    <!-- <node pkg="tf" type="static_transform_publisher" name="world_to_odom" args="0 0 0 0 0 0 world $(arg ns)/odom 1" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="camera2body" args="0.25 0 0.184 -1.57 0 -1.57 $(arg ns) $(arg ns)/camera 1" /> 
    <node pkg="tf" type="static_transform_publisher" name="base2JA01" args="0 0 0 0 0 0 $(arg ns)/base_link $(arg ns) 1" /> -->

   <!-- Use ground truth from gazebo (note that all the nodes of nav.launch should be set to false if using this)-->
    <node ns="$(arg ns)" name="ground_truth_to_tf" pkg="message_to_tf" type="message_to_tf" output="screen">
      <param name="odometry_topic" value="ground_truth/state" />
      <param name="frame_id" value="/world" />
      <param name="tf_prefix" value="$(arg ns)" />
    </node>   
   
</launch>
